# macOS
.DS_Store

# Windows
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Logs
*.log

# Environment variables
.env
.env.local

# Neocities config (if you store credentials locally)
.neocitiesrc